body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: new tegomin;
}

body {
    background: url(https://resources.burtonandburton.com/images/catalog/139330_l.jpg);
}

header {
    text-align: center;
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; */
}

#nav-bar {
    /* background-color: rgba(51, 50, 50, 60%); */
    background-color: rgba(199, 156, 113, 70%);
    padding: 0px;
    position: sticky;
    top: 0px;
    z-index: 1;
    color: #212529;
    /* position: relative;
    top: 106px;
    z-index: 1; */
}

#navbar-nav {
    white-space: nowrap;
    max-width: 1600px;
    margin: 0 auto;
    list-style-type: none;
    font-family: new tegomin;
    font-weight: bolder;
    display: flex;
    color: #212529;
    /* padding: 0 0 0 0; */
}

ul{
    justify-content: center;
    list-style-type: none;
    
}

ul li {
    margin: 0 50px;
}

a.nav-link {
    color: #000000;
    font-size: 20px;
    /* width: 50%; */
    /* text-align: center; */
    text-decoration: none;
}

a.nav-link.fblogo {
    padding: 0;
    margin-top: 4px;
}

a.nav-link:hover {
    color: #352208;
    text-decoration: underline;
}

#about {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#fblogo {
    max-width: 25px;
}
#contact{
    display: flex;
    justify-content: center;
    text-align: center;
}
#barrel{
    display: inline-flex;
    flex-direction: column;
    
}
#contactus {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

p#interested {
    font-size: 25px;
}

p#us {
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#pix {
    padding-top: 50px;
}


.pix img {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 30px;
    text-align: center;
    /* margin: 5px; */
}

.pix img:hover {
    transform: scale(1.1);
}


/* #opt7a.textbox {width: 200px; height: 100px; padding: 1px} */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

@media screen and (max-width:1600px){
    #header-img {
        max-width: 500px;
    }
}

@media screen and (max-width:900px){
    #header-img {
        max-width: 300px;
    }
    span {
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }
    .img-fluid {
        max-width: 200px;
        max-height: 200px;
    }
    #about {
        font-size: 25px;
        /* padding-top: 75px; */
        
    }
}

@media screen and (max-width:700px){
    #header-img {
        max-width: 200px;
    }
    nav ul {
        flex-direction: column;
    }
    a.nav-link {
        padding: 0;
    }
    span {
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }
    .img-fluid {
        max-width: 200px;
        max-height: 200px;
    }
    #about {
        /* padding-top: 120px; */
        font-size: 22px;
    }
}

@media screen and (max-width: 400px){
    #header-img {
        max-width: 175px;
    }
    span {
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }
    .img-fluid {
        max-width: 150px;
        max-height: 115px;
    }
    #about {
        /* padding-top: 120px; */
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
    }
    p {
        font-size: 18px;
    }
    /* #pix {
        padding-top: 130px;
    } */
}